---
ip: "192.168.10.10"
memory: 1024
mysql_user: user
pyafipws: no

networks:
  - type: public
    ip: "192.168.2.1"

folders:
  - map: ~/
    to: /home/vagrant

sites:
  - map: example.test
    to: /var/www/html
    aliases:
      - map: app
        to: /home/vagrant/www/app/public
