---
ip: "192.168.10.11"
mysql_user: "sistema"

folders:
  - map: "."
    to: "/home/ubuntu"

sites:
  - map: minim.dev
    to: /var/www/html
    aliases:
      - map: app
        to: /home/ubuntu/www/app/public
