---
ip: "192.168.10.10"
mysql_user: "sistema"
pyafipws: no

networks:
  - type: "public"
    ip: "192.168.2.150"

folders:
  - map: "."
    to: "/home/ubuntu"

sites:
  - map: minim.dev
    to: /var/www/html
    aliases:
      - map: app
        to: /home/ubuntu/www/app/public
